@import url(./reset.css);
@import url(./media.css);

/* ----- FONTS ----- */

@font-face {
  font-family: "TT Lakes";
  font-weight: 400;
  font-style: normal;
  src: local("TT Lakes Regular"),
    url(../src/fonts/TTLakes-Regular.woff2) format("woff2"),
    url(../src/fonts/TTLakes-Regular.woff) format("woff"),
    url(../src/fonts/TTLakes-Regular.eot) format("eot");
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes";
  font-weight: 600;
  font-style: normal;
  src: local("TT Lakes Medium"),
    url(../src/fonts/TTLakes-Medium.woff2) format("woff2"),
    url(../src/fonts/TTLakes-Medium.woff) format("woff"),
    url(../src/fonts/TTLakes-Medium.eot) format("eot");
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes";
  font-weight: 800;
  font-style: normal;
  src: local("TT Lakes Bold"),
    url(../src/fonts/TTLakes-Bold.woff2) format("woff2"),
    url(../src/fonts/TTLakes-Bold.woff) format("woff"),
    url(../src/fonts/TTLakes-Bold.eot) format("eot");
  font-display: swap;
}

/* ----- VARIABLES -----*/

:root {
  --desktop: 1440px;

  --main-color: #f8f8f8;
  --secondary-color: white;
  --theme-color: #ff3e79;
  --text-color: #1b1c21;
  --fade-text: #1b1c2183;
  --element-color: #41f6d7;
}

/* ----- ICONS ----- */
.icon-holder {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--theme-color);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.search-img {
  height: 17px;
  width: 17px;
}

.phone-img {
  height: 18px;
  width: 18px;
}

.feedback-img {
  height: 20px;
  width: 20px;
}

.profile-img {
  height: 18px;
  width: 20px;
}

.order-img {
  height: 20px;
  width: 20px;
}

.status-img {
  height: 20px;
  width: 16px;
}

/* ----- MAIN STYLES -----*/

body {
  min-width: var(--desktop);

  font-family: "TT Lakes", sans-serif;
  display: flex;
  justify-content: space-between;
}

.text {
  font-size: 50px;
}

.block {
  display: flex;
  background-color: #047965;
  border-width: 2px;
  border-color: #1b1c21;
  border-style: solid;
}

/* ----- NAVIGATION -----*/

.nav {
  display: flex;
  flex-direction: column;
  width: 306px;
  height: 100vh;
  border-color: var(--secondary-color);
}

.nav-header {
  display: flex;
  margin-left: 22px;
  margin-top: 30px;
  margin-right: 29px;
  margin-bottom: 37px;
  height: 50px;
  width: auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  height: 50px;
  width: 96px;
}

.nav-items {
  display: flex;
  margin-bottom: 241px;
}

.nav-item {
  display: flex;
  margin-bottom: 28px;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.nav-a {
  outline: none;
  text-decoration: none;
  color: var(--text-color);
  margin-left: 24px;
}

.nav-curent-item {
  display: flex;
  align-items: center;
  margin-bottom: 28px;

  opacity: 0.7;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.nav-curent-item::before {
  content: "";
  margin-left: 1px;
  display: flex;
  justify-self: self-start;
  background-color: var(--element-color);
  width: 4px;
  height: 28px;
  border-radius: 2px;
}

.contacts {
  display: flex;
  flex-direction: column;

  margin-left: 19px;
}

.contact-icons {
  display: flex;
  width: 152px;
  justify-content: space-between;
  margin-bottom: 16px;
}

.email {
  display: flex;
  margin-bottom: 12px;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 400;

  color: var(--text-color);
}

.number {
  display: flex;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 800;

  color: var(--text-color);
  margin-bottom: 40px;
}

.lang {
  display: flex;
  width: 87px;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 400;

  color: var(--text-color);
}

.ru {
  opacity: 0.7;
}

/* ----- PAGE ----- */

.container {
  display: flex;
  background-color: var(--main-color);
  flex: 1;
}

.header {
  display: flex;
  flex: 1;
  height: 40px;
  width: auto;

  padding-right: 30px;
  padding-top: 42px;
  margin-bottom: 8px;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  display: flex;
  margin-left: 2px;
  background-color: var(--element-color);
  height: 40px;
  width: 3px;
  border-radius: 1.5px;
}

.title-text {
  display: flex;
  margin-left: 17px;

  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  font-weight: 800;
  color: var(--text-color);
}

.options {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.option {
  display: flex;
  margin-left: 32px;
  align-items: center;
  justify-content: space-between;
}

.subtitle {
  display: flex;
  margin-right: 8px;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.2px;
  color: var(--text-color);
}
