@import url(./reset.css);
@import url(./media.css);

/* ----- FONTS ----- */

@font-face {
  font-family: "TT Lakes";
  font-weight: 400;
  font-style: normal;
  src: local("TT Lakes Regular"),
    url(../src/fonts/TTLakes-Regular.woff2) format("woff2"),
    url(../src/fonts/TTLakes-Regular.woff) format("woff"),
    url(../src/fonts/TTLakes-Regular.eot) format("eot");
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes";
  font-weight: 600;
  font-style: normal;
  src: local("TT Lakes Medium"),
    url(../src/fonts/TTLakes-Medium.woff2) format("woff2"),
    url(../src/fonts/TTLakes-Medium.woff) format("woff"),
    url(../src/fonts/TTLakes-Medium.eot) format("eot");
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes";
  font-weight: 800;
  font-style: normal;
  src: local("TT Lakes Bold"),
    url(../src/fonts/TTLakes-Bold.woff2) format("woff2"),
    url(../src/fonts/TTLakes-Bold.woff) format("woff"),
    url(../src/fonts/TTLakes-Bold.eot) format("eot");
  font-display: swap;
}

/* ----- VARIABLES -----*/

:root {
  --desktop: 1440px;
  --nav-width: 306px;

  --main-color: #f8f8f8;
  --secondary-color: white;
  --theme-color: #ff3e79;
  --text-color: #1b1c21;
  --fade-text: #1b1c2183;
  --element-color: #41f6d7;
}

/* ----- BUTTON's ICONS ----- */
.icon-holder {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--theme-color);
  border-radius: 20px;
  border: 0;
  justify-content: center;
  align-items: center;
}

.btn-title {
  height: 24px;
  left: 86.12%;
  right: 5.54%;
  top: calc(50% - 24px / 2 - 900.5px);
  margin-right: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  color: var(--text-color);
}

.header-btns {
  display: flex;
}

.header-btn {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  margin-left: 32px;
  border: 0;
  background-color: inherit;
}

.search-img {
  height: 17px;
  width: 17px;
}

.phone-img {
  height: 18px;
  width: 18px;
}

.feedback-img {
  height: 20px;
  width: 20px;
}

.profile-img {
  height: 18px;
  width: 20px;
}

.order-img {
  height: 20px;
  width: 20px;
}

.status-img {
  height: 20px;
  width: 16px;
}

/* ----- MAIN STYLES -----*/

body {
  min-width: var(--desktop);

  font-family: "TT Lakes", sans-serif;
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  height: 100vh;
  background-color: var(--main-color);
  width: calc(100vw - var(--nav-width));

  flex: 1;
}

.main-header {
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 42px 30px 8px 35px;
}

.title {
  height: 40px;
  left: 23.91%;
  right: 59.75%;
  top: calc(50% - 40px / 2 - 900.5px);

  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;

  color: var(--text-color);
}

/* ----- NAVIGATION ----- */

nav {
  display: flex;
  min-width: var(--nav-width);
  height: 100vh;
  background-color: var(--secondary-color);
  flex-direction: column;
}

.nav-header {
  display: flex;
  margin: 30px 29px 37px 22px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: 51px;
  width: 97px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  margin: 0px auto 241px 24px;
}

.nav-item {
  margin-top: 28px;
  display: flex;
  cursor: pointer;
}

.nav-item input {
  position: absolute;
  opacity: 0;
}

.active-element {
  background-color: var(--secondary-color);
  border-radius: 2px;
  width: 4px;
  height: 28px;
  position: relative;
  z-index: 1;
  right: 23px;
  bottom: 0px;
}

.page-name {
  height: 21.23px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: var(--text-color);
}

.nav-item input:checked ~ .active-element {
  background-color: var(--element-color);
}

.nav-item input:checked ~ .page-name {
  color: var(--fade-text);
}

/* ----- MAIN ----- */

/* ----- Ремонт техники ----- */
.fix {
  display: none;
}

/* ----- Услуги и сервисы ----- */
.service {
  display: none;
  width: inherit;
}

.nav-item input:checked ~ .service {
  display: flex;
}

/* ----- Корпоративным клиентам ----- */
.clients {
  display: none;
}

/* ----- Продавцам техники ----- */
.sales {
  display: none;
}

/* ----- Партнерам ----- */
.partners {
  display: none;
}

/* ----- Производителям ----- */
.factory {
  display: none;
}

/* ----- Наши сервисные центры ----- */
.centers {
  display: none;
}

/* ----- Контакты ----- */
.contacts {
  display: none;
}
