@import url(./reset.css);
@import url(./media.css);

/* ----- FONTS ----- */

@font-face {
  font-family: "TT Lakes";
  font-weight: 400;
  font-style: normal;
  src: local("TT Lakes Regular"),
    url(../src/fonts/TTLakes-Regular.woff2) format("woff2"),
    url(../src/fonts/TTLakes-Regular.woff) format("woff"),
    url(../src/fonts/TTLakes-Regular.eot) format("eot");
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes";
  font-weight: 600;
  font-style: normal;
  src: local("TT Lakes Medium"),
    url(../src/fonts/TTLakes-Medium.woff2) format("woff2"),
    url(../src/fonts/TTLakes-Medium.woff) format("woff"),
    url(../src/fonts/TTLakes-Medium.eot) format("eot");
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes";
  font-weight: 800;
  font-style: normal;
  src: local("TT Lakes Bold"),
    url(../src/fonts/TTLakes-Bold.woff2) format("woff2"),
    url(../src/fonts/TTLakes-Bold.woff) format("woff"),
    url(../src/fonts/TTLakes-Bold.eot) format("eot");
  font-display: swap;
}

/* ----- VARIABLES -----*/

:root {
  --desktop: 1440px;
  --nav-width: 306px;

  --main-color: #f8f8f8;
  --secondary-color: white;
  --theme-color: #ff3e79;
  --text-color: #1b1c21;
  --fade-text: #1b1c2183;
  --element-color: #41f6d7;
}

/* ----- BUTTON's ICONS ----- */
.icon-holder {
  display: flex;

  width: 40px;
  height: 40px;
  background-color: var(--theme-color);
  border-radius: 50%;
  border: 0;
  justify-content: center;
  align-items: center;
}

.search-img {
  height: 17px;
  width: 17px;
}

.phone-img {
  height: 18px;
  width: 18px;
}

.feedback-img {
  height: 20px;
  width: 20px;
}

.profile-img {
  height: 18px;
  width: 20px;
}

.order-img {
  height: 20px;
  width: 20px;
}

.status-img {
  height: 20px;
  width: 16px;
}

/* ----- NAVIGATION ----- */

nav {
  display: flex;
  min-width: var(--nav-width);
  height: 100vh;
  background-color: var(--secondary-color);
  flex-direction: column;
  justify-content: space-between;
  padding-right: 29px;
}

.nav-header-wrapper {
  display: flex;
  flex-direction: column;
}

.nav-header {
  display: flex;
  margin-top: 30px;
  margin-left: 22px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: 51px;
  width: 97px;
}

.nav-list {
  display: flex;
  flex-direction: column;

  margin-top: 37px;
  margin-left: 24px;
}

.nav-item {
  margin-bottom: 24px;
  display: flex;
  cursor: pointer;
}

.nav-item input {
  position: absolute;
  opacity: 0;
}

.active-element {
  background-color: var(--secondary-color);
  border-radius: 2px;
  width: 4px;
  height: 28px;
  position: relative;
  z-index: 1;
  right: 23px;
  bottom: 0px;
}

.page-name {
  height: 21px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: var(--text-color);
}

.nav-input:checked ~ .active-element {
  background-color: var(--element-color);
}

.nav-input:checked ~ .page-name {
  color: var(--fade-text);
}

.nav-footer {
  display: flex;
  flex-direction: column;

  margin-left: 19px;
}

.nav-footer-btns {
  display: flex;
}

.nav-footer-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  background-color: inherit;
  margin-right: 16px;
  padding: 0;
}

.e-mail {
  margin-top: 16px;

  height: 24.81px;
  left: 1.33%;
  right: 91.23%;
  top: calc(50% - 24.81px / 2 - 165.21px);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: var(--text-color);
}

.telephone-numb {
  margin-top: 12px;

  height: 33.08px;
  left: 1.33%;
  right: 84.92%;
  top: calc(50% - 33.08px / 2 - 123.86px);
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: var(--text-color);
}

.langs {
  margin-top: 40px;
  display: flex;
}

.lang input {
  position: absolute;
  opacity: 0;
}

.lang {
  margin-right: 7px;
}

.lang-name {
  height: 24.81px;
  left: 1.47%;
  right: 96.77%;
  top: calc(50% - 24.81px / 2 - 54.1px);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: var(--text-color);
}

.lang-input:checked ~ .lang-name {
  color: var(--fade-text);
}

/* ----- MAIN STYLES -----*/

body {
  font-family: "TT Lakes", sans-serif;
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;

  background-color: chocolate;
  margin-top: 20px;
  margin-left: 40px;

  font-size: 72px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
  background-color: var(--main-color);

  flex: 1;
}

/* ----- MAIN HEADER -----*/

.main-header {
  display: flex;

  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  min-width: calc(var(--desktop) - var(--nav-width));

  margin-top: 42px;
  margin-left: 35px;

  background-color: darkgoldenrod;
}

.title-wrapper {
  display: flex;
}

.title-element {
  height: 40px;
  width: 3px;
  border-radius: 1.5px;
  background-color: var(--element-color);

  position: relative;
  right: 34px;
}

.title {
  display: flex;
  height: 40px;
  left: 23.91%;
  right: 59.75%;
  top: calc(50% - 40px / 2 - 900.5px);

  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;

  color: var(--text-color);

  flex-wrap: nowrap;
}

.btn-title {
  font-family: inherit;
  height: 24px;
  left: 86.12%;
  right: 5.54%;
  top: calc(50% - 24px / 2 - 900.5px);
  margin-right: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  color: var(--text-color);
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  background-color: inherit;
  margin-left: 32px;
  padding: 0 30px 0 0;
}

.header-btns {
  display: flex;
}

/* ----- MENU -----*/

/* ----- DESCRIPTION -----*/

/* ----- BRANDS -----*/

/* ----- EQUIPMENT -----*/

/* ----- PRICES -----*/

/* ----- MAIN FOOTER -----*/

.main-footer {
  display: flex;
  margin: 83px 0px 21px 31px;
  flex-wrap: wrap;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  background-color: coral;
  min-width: calc(100vw - var(--nav-width));
}

.footer-item {
  font-weight: 400;
  height: 32px;
  left: 23.63%;
  right: 61.08%;
  top: calc(50% - 32px / 2 + 925.5px);
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);
  mix-blend-mode: normal;
  opacity: 0.72;

  flex-wrap: wrap;
  width: 300px;
  background-color: cornflowerblue;
}
